:root{
    font-size: 18px;
}

*{
    /* Reset defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans',sans-serif;
    color: hsl(0,11%,12%);
}

section{
    background: hsl(185, 75%, 39%);
    height: 100vh; /* use entire hight of the screen */
    display: flex; /*  */
    justify-content: center; /*  */
    align-items: center; /*  */
    position: relative; /* to include the animations*/
    overflow: hidden;
}

.card{
    width: 350px; /* width of the card */
    border-radius: 20px; /* makes the curved corners */
    background: white; /* makes background white */
    overflow: hidden; /* so the corners continue to be curved */
    text-align: center; /* centers everying in the card */
    position: relative;
}

.card-header{
    background-image: url(images/bg-pattern-card.svg); /* uses image for background */
    background-size: cover;
    height: 150px;
}

.card-body{
padding: 0 20px 25px; /* space for text on sides and bottom*/
}

.img-holder{
    height: 110px; /* controls the image hight also makes it left align, */
    width: 110px;  
    border-radius: 50%; /* make circle */
    border: 5px solid white; /*gives white border*/
    overflow: hidden;
    margin: -55px auto 30px auto; /* compinsate by half of the image size and 5 px from border*/

}

.img-holder img{ /* targets the image withing the img-holder*/
    width: 100%;
    height: auto;
    display: block;
}

.age, 
.city, 
.item-sub-text{ /* affects 3 text simaltaniously the same color and weight*/
    font-weight: 400;
    color: hsl(0,11%,12%);
    opacity: .5;
}
.name-age{
    font-size: 1.1rem; /* 18 pixels */ /*look up rem*/
    margin-bottom: 12px;
}

.age{
    font-weight: 400;
}

.city{
    font-size: .9rem;
}
.card-footer{
    border-top: 1px solid hsl(0, 0%, 75%); /* used the neutrual color from the style guide*/
    display: flex; /* Keeps the text together */
    padding: 0 25px;
}

.card-footer .item {
    flex: 1; /* Equal spacing between items*/
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer .item .item-value {
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.card-footer .item .item-sub-text {
    font-size: .6rem;
    letter-spacing: 1px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* GRAPHICS (CIRCLES) */
.circles .c1,
.circles .c2{
    position: absolute;
}

.circles .c1{
    top: -300px;
    left: -175px;
}

.circles .c2{
    bottom: -300px;
    right: -175px;
}





/*https://youtu.be/vjObtWO5RvU?t=945*/